/* variables */
:root {
--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan: hsl(167, 40%, 24%);
--Dark-blue: hsl(198, 62%, 26%);
--Dark-moderate-cyan: hsl(168, 34%, 41%);
--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
}


/* common setting  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p ,li {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

h1, h2, h3, .learn-more, .nav-contact {
    font-family: 'Fraunces', serif; 
}

h1 {
    color: var(--White);
    font-size: 3rem;
    letter-spacing: .5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
}

ul {
    list-style: none;
}

p {
    line-height: 1.8;
}

a {
    text-decoration: none;
}

.main-images {
    max-width: 100%;
    display: block;
}


/* navigation bar  */
nav {
    background-color: #3ebfff;
    display: flex;
    padding: 2rem 2rem 0 2rem;
    justify-content: space-between;
}

.nav-items ul{
    text-align: center;
    position: absolute;
    background-color: #fff;
    top: 5rem;
    left: 2rem;
    right: 2rem;
    z-index: 1000;
    opacity: 0;
    padding: 1rem 5rem;
    color: var(--Dark-grayish-blue)
}

.nav-items li {
    padding: 1rem 0;
}

/* contact button  */
.nav-contact a {
    color: #000;
}

.nav-contact {
    background-color: var(--Yellow);
    border-radius: 25px;
}

.active {
    opacity: 1;
}

#hamburger-icon {
    display: inline-block;
}

/* for navigation bar  */
@media (min-width: 699px) {
        /* navigation bar  */
        #hamburger-icon {
            display: none;
        }
    
        .nav-items ul {
            position: relative;
            top: 0;
            display: flex;
            width: 100%;
            opacity: 1 !important;
            background-color: #3ebfff;
            padding: 0;
            color: #fff;
        }

        .nav-items li{
            margin-left: 1.5rem;
            color: var(--White);
            padding: 0.5em 1em;
            cursor: pointer;
        }
    
        .logo {
            padding: 0.5em 1em;
        }

        /* contact button  */
        .nav-contact a {
            color: #fff;
        }
        .nav-contact {
            background-color: inherit;
            border-radius:0;
        }
        .nav-contact:hover {
            background-color: #6acdff;
            border-radius: 25px;
        }
}

/* head section  */
#head {
    position: relative;
    margin: 0;
    text-align: center;
}

.head-contant {
    position: absolute;
    bottom: 25%;
}

.head-contant h1 {
    margin-bottom: 3rem;
}

/* our services discription  */
.services-dis, .inside-dis {
    text-align: center;
    padding: 2.3rem;
}

.services-dis p {
    color: var(--Very-dark-grayish-blue);
}

.services-dis a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.services-dis a::after {
    position: relative;
    top: -5px;
    z-index: -1;
    content:  "";
    display: block;
    width: 8rem;
    height: 6px;
    background-color: var(--Yellow);
    filter: blur(2px);
    margin: auto;
    opacity: 0.5;
}

.services-dis a:hover::after {
    opacity: 1;
}

.services-dis {
    margin: 1rem 0;
}

.stand-out a::after {
    background-color: var(--Soft-red);
}

.service-container {
    position: relative;
}

.inside-dis {
    position: absolute;
    bottom: 1rem;
}

.inside-dis h2, .inside-dis p {
    margin-bottom: 2rem;
}

.services-dis h2, .services-dis p , .services-dis a {
    margin-bottom: 2rem;
}

.graphic {
    color: var(--Dark-desaturated-cyan);
}

.photography {
    color: var(--Dark-blue);
}

@media (min-width: 500px) and (max-width: 739px) {
    .inside-dis {
        padding: 0;
    }
}

/* client testimonials  */

.client-testimonials {
    text-align: center;
    padding: 2.3rem;
    margin: 1rem 0;
}

.client-testimonials div {
    margin: 3rem 0;
}

.client-testimonials p {
    color: var(--Very-dark-grayish-blue);
    padding-bottom: 1rem;
}

.client-testimonials h2 {
    font-size: 1.1rem;
    letter-spacing: .4rem;
    color: var(--Grayish-blue);
}

.client-testimonials h3 {
    margin-bottom: 0;
    color: #000;
}

.client-testimonials .user-position {
    margin-top: 0.5rem;
    color: var(--Dark-grayish-blue);
    font-size: 0.9rem;
}

.client-testimonials img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 1rem;
}

/* gallery  */

.gallery {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "one two"
    "three four";
}

.grid-img {
    width: 100%;
    height: 100%;
}

.img1 {
    grid-area: one;
}
.img2 {
    grid-area: two;
}
.img3 {
    grid-area: three;
}
.img4 {
    grid-area: four;
}


/* footer  */
footer {
    background-color: #88c7b9;
    color: var(--Dark-moderate-cyan);
    text-align: center;
}

#footer-img {
    width: 300px;
    margin: 5rem 0 0;
}

.footer-nav {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
}

.footer-nav li {
    font-size: 1.5rem;
}

.footer-nav li:hover {
    color: var(--White);
    cursor: pointer;
}

.social-list {
    width: 40%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 3rem;
    justify-content: space-between;
}

.social-list li {
    width: 25%;
}

.social-list a:hover {
    color: var(--White);
    cursor: pointer;
}


.attribution { 
    font-size: 11px; text-align: center;
    margin: 1rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* for desktop  */
@media (min-width: 500px) {
    .head-contant img {
        width: 4%;
    }
    
    h1 {
        font-size: 4vw;
    }

    /* head section  */
    #head {
        position: relative;
        margin: 0;
    }

    .head-contant {
        position: absolute;
        top: 7rem;
        left: 2rem;
        right: 2rem;
        bottom: 10rem;
    }


    /* our services discription  */
    #services {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-areas: 
            "trans-text trans-img"
            "stand-img stand-text"
            "graphic photography";
    }
    .services-dis a::after {
        margin: 0;
    }

    .services-dis {
        text-align: left;
        padding: 10vw
    }

    #transform-brand {
        grid-area: trans-img;
        object-fit: cover;
    }

    #transform-brand-dis {
        grid-area: trans-text;
    }
    #stand-out-img {
        grid-area: stand-img;
        object-fit: cover;
    }
    #stand-out-text {
        grid-area: stand-text;
    }
    #graphic {
        grid-area: graphic;
    }
    #photography {
        grid-area: photography;
    }

    /* client tetstimonials  */
    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: .5rem;
    }

    /* gallery  */
    .gallery {
        grid-template-areas: 
        "one two three four";
    }
}
